* {
    margin: 0px; /*Margem externa das caixas*/
    padding: 0px; /*Mergem interna das caixas*/
    box-sizing: border-box; /*Ajuste das caixas sem a soma com a largura*/
}
section{
    background: #111;
    min-height: 0vh;   
   
}
section{
    position: absolute;
    top: 0;
    left: 0;
    
}
video{
    height: auto;
    width: 100%;
}

.hero{
  height: 108vh;
  width:100%;
  border: 0px 0px 10px black;
  backdrop-filter: blur(10px);
}
nav{
 padding-top: 10px;   
 position: relative;
 display: flex;
 padding-left: 200px;
 background-color: #111;
 background-color: black; 
 align-items: center;
}
.logo{
    height:1%; width:18%;
}
span{
    color: blueviolet;
}
nav ul{
    padding-left:500px;
}

nav ul li{
    padding-left: 100px;
    list-style-type:none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight:bold;
    font-family: Optima, sans-serif;
}
a{
    text-decoration: none;
}
.site{
    margin-left:20%;
    margin-top:2%;
    height:7%;
    width:30%;
    border-style:solid;
    border-color:blueviolet;
    border-radius:10px;
    font-family: Optima, sans-serif;
}
.site:hover{
    border-style: solid;
    border-color: white;
    transition: .3s;
}
.svSite{
    color:blueviolet;font-size:20pt;margin-left:38%;margin-top:2%;
}
.svSite:hover{
    color:white;
    transition: .3s;
}
.app{
    margin-left:20%;
    margin-top:2%;
    height:7%;
    width:30%;
    border-style:solid;
    border-color:blueviolet;
    border-radius:10px;
    font-family: Optima, sans-serif;
}
.app:hover{
    border-style: solid;
    border-color: white;
    transition: .3s;
}
nav ul li a:hover{
    color:blueviolet;
    transition: .3s;
}
button{
    border:none;
    background: blueviolet;
    text-align: center;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    height: 50px;
    margin-bottom:10px;
}
button:hover{
    transform: scale(1.3);
}
.linha{
    margin-top: 300px;
    color: white;
    text-align: center;
    font-family: Optima, sans-serif;
}
.texto{ 
        position: relative;
    

}
h1{
    font-size: 70px;
}
.ftHome img{
    width: auto;
    height: 600px;
}
.fundoHome{
    height: 100%;
    width: auto;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/capa3.jpg);
    background-size: cover;
    background-position: center;
   
  }
main{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.sobreMim{  
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    
}
.sobre{
    color:#9c9fe9;
    font-size: 25pt;
    margin-right: 1000px;
    font-family: cursive;
}
.btnSobre button{
    border:none;
    background: #9c9fe9;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
.textoSobre p span{
    display: flex;
    flex-direction: row;
    padding-top: 125px;
    padding-left: 30%;
    padding-right: 10%;
    color: white;
    font-size: 25px;
    font-family: cursive;
}
.TituloProjetos{
    color: white;
    padding-top: 200px;
    padding-left: 40%;
    padding-right: 10%;
    font-family: Snell Roundhand, cursive;
}
.TodosProjetos{
    flex-direction: wrap;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
/* <!-- Inicio do Primeiro projeto --> */
.Projeto1{
  display: flex;
  flex-direction: row;
}
.imgProjetos{
    display: block;
    /* position: absolute; */
    padding-top: 200px;
    padding-left: 15%;
    padding-right: 0%;
}
.imgProjetos img{
    height: 550px;
    width: 550px;
    border-radius: 10px;
}
.sobreProjeto{     
    display: block;
    /* position: absolute; */
    padding-top: 350px;
    padding-left: -100px;
    padding-right: 0%;
    font-family: cursive;
    
}
.sobreProjeto p span{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 13%;
    padding-right: 30%;
    color: white;
    font-size: 25px;
    font-family: cursive;
}
.sobreProjeto h3{
    color: #9c9fe9;
    padding-bottom: 15px;
    padding-left: 90px;
    font-family: Noto Sans, sans-serif;
}
.sobreProjeto h2{
    color: white; 
    padding-left: 90px;
    padding-bottom: 30px;
}
/* Fim do Primeiro projeto */

/* <!-- Inicio do Segundo projeto --> */
.Projeto2{
  display: flex;
  flex-direction: row;
}
.imgProjetos2{
    display: block;
    /* position: absolute; */
    padding-top: 200px;
    padding-left: 5%;
    padding-right: 25%;
}
.imgProjetos2 img{
    height: 550px;
    width: 550px;
    border-radius: 10px;
}
.sobreProjeto2{     
    display: block;
    /* position: absolute; */
    padding-top: 350px;
    padding-left: 220px;
    padding-right: 0%;
    
}
.sobreProjeto2 p span{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 10%;
    color: white;
    font-size: 23px;
    font-family: cursive;
}
.sobreProjeto2 h3{
    color: #9c9fe9;
    padding-bottom: 15px;
    padding-left: 170px;
    font-family: Noto Sans, sans-serif;
}
.sobreProjeto2 h2{
    color: white; 
    padding-left: 170px;
    padding-bottom: 30px;
    font-family: cursive;
}
/* <!-- Fim do Segundo projeto --> */
.footer{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), black;
    background-size: cover;
    background-position: center;
    ;
}
.footer p{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30pt;
    font-family: Bradley Hand, cursive;
    color: white;
}
.btnfooter{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 0%;
    
}
.redesSociais{
    padding-top: 0px;
    padding-left: 85%;
    padding-right: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}
.GitHub{
    margin-right: 10px;
}
.Instagram{
    margin-right: 10px;
}
.GitHub img{
    height: 25px;
    width: auto;
}

.redesSociais .Instagram img{
    height: 25px;
    width: auto;   
}
.Facebook img{
    height: 25px;
    width: auto;
}
.whatsapp-link{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 11000;
}
.fa-whatsapp{
    margin-top: 16px;
}
/* Inicio do layout de projetos */
.hero2{
    width:100%;
    border: 0px 0px 10px black;
    backdrop-filter: blur(10px);
  }
  .todosprojetos{
    align-items: center;
    display: flex;
    width: 80%;
    height: auto;
    flex-wrap: wrap; 
    padding-bottom: 50px;
}
.projetos{
    background-color: #111;
}
.Projeto{
    flex-direction: row;
}
.imgprojetos{
    display: block;
    /* position: absolute; */
    padding-top: 200px;
    padding-left: 55%;
    padding-right: 0%;
}
.imgprojetos img{
    height: 550px;
    width: 550px;
    border-radius: 10px;
}
.sobreprojeto{
    color: #fff;     
    display: block;
    /* position: absolute; */
    padding-top: 10px;
    padding-left: 300px;
    padding-right: 0%;
    font-family: cursive;
}
.sobreprojeto h3{
    color: #9c9fe9;
    padding-bottom: 15px;
    font-family: Noto Sans, sans-serif;
}
.sobreprojeto h2{
    color: #fff;
    font-size: 30px;
    padding-bottom: 15px;
    font-family: Noto Sans, sans-serif;
}

.projeto2{
    flex-direction: row;  
}
.imgprojetos2 img{
    height: 550px;
    width: 550px;
    border-radius: 10px;
}
.imgprojetos2{
    padding-top: 200px;
    display: block;
    /* position: absolute; */
    /* padding-top: 200px; */
    padding-left: 70%;
    padding-right: 25%;
}
.sobreprojeto2{  
    color: #fff;     
    display: block;
    /* position: absolute; */
    padding-top: 10px;
    padding-left: 400px;
    padding-right: 0%;
    font-family: cursive;
}
.sobreprojeto2 h3{
    color: #9c9fe9;
    padding-bottom: 15px;
    font-family: Noto Sans, sans-serif;
}
.sobreprojeto2 h2{
    color: #fff;
    font-size: 30px;
    padding-bottom: 15px;
    font-family: Noto Sans, sans-serif;
}
.sobre2{     
    display: block;
    /* position: absolute; */
    padding-top: 350px;
    padding-left: 220px;
    padding-right: 0%;
    
}
.sobre2 h2{
    color: white; 
    padding-left: 170px;
    padding-bottom: 30px;
    font-family: cursive;
}
.sobre2 p span{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-right: 10%;
    color: white;
    font-size: 23px;
    font-family: cursive;
}
.imgSobre2{
    display: block;
    /* position: absolute; */
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
}
.imgSobre2 img{
    height: 550px;
    width: 550px;
    border-radius: 10px;
}
.footerSite{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), black;
    background-size: cover;
    background-position: center;
    ;
}
.footerSite p{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30pt;
    font-family: Bradley Hand, cursive;
    color: white;
}
.btnfooterSite{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 0%;
    
}

.txtServico{
    margin-left:20%;
    font-size:40pt;
    color:white;
    margin-top:10%;
    padding: 10px;  
    font-family:Optima, sans-serif
}
.txtSobreServico{
    color:white;
    margin-left:20%;
    flex-wrap: wrap;
    width:30%;  
    font-family: Optima, sans-serif
}

#abrir,
#fechar {
  display: none; /*não devem aparecer quando a tela está grande*/
}

@media (min-width: 0px) and (max-width: 576px) {
    * {
        margin: 0px; /*Margem externa das caixas*/
        padding: 0px; /*Mergem interna das caixas*/
        box-sizing: border-box; /*Ajuste das caixas sem a soma com a largura*/
    }
    section{
        background: #111;
        min-height: vh;   
    }
    video{
       display: none;
       background-color: #111;
    }

    nav{
        padding-top: 10px;   
        position: relative;
        display: flex;
        padding-left: 10px;
        background-color: black; 
        align-items: center;
        height:20%;
       }
       .logo{
           height:30%; width:30%;
       }
       .logo img{
           height: 15%;
       }
       span{
           color: blueviolet;
           height: 5%;
           width: 5;
       }
       nav ul{
           padding-left:10px;
       }
       
       nav ul li{
           padding-left: 10px;
           list-style-type:none;
           display: inline-block;
           padding: 10px 20px;
       }
       nav ul li a{
           color: white;
           text-decoration: none;
           font-weight:bold;
           font-family: Optima, sans-serif;
       }
       a{
           text-decoration: none;
           font-size: 10pt;
       }
       .btncontato{
           font-size: 8pt;
       }
       .linha{
           background-color: black;
           height: 80%;
       }
       .texto{ 
        flex-wrap: wrap;
        color: white;
        position: relative;
        background-color: black;
    }
    .texto h1{
        padding-top: 50%;
        font-size: 50pt;
        font-family: Optima, sans-serif;
    }
    .trabalho{
        margin-top: 5%;
        font-size: 9pt;
        height: 1%;
        width: 50%;
    }
    .linha{
        text-align: center;
        margin-top: 0px;
    }
    .fundoHome{
        height: 100%;
        width: auto;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/capa3.jpg);
        background-size: cover;
        background-position: center;
       
      }
      .fundoHome{
        height: 100%;
        width: auto;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/capa3.jpg);
        background-size: cover;
        background-position: center;
      }
    main{
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    .sobreMim{  
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 1%;     
    }
    .sobre{
        color:#9c9fe9;
        font-size: 20pt;
        margin-right: 100px;
        font-family: cursive;
    }
    .btnSobre button{
        border:none;
        background: #9c9fe9;
        padding: 12px 30px;
        border-radius: 30px;
        height: 80%;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 10px;
        transition: .4s;
    }
    .textoSobre p span{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding-top: 100px;
        color: white;
        font-size: 18px;
        font-family: cursive;
        margin-right:10%;
    }
    .TituloProjetos{
        color: white;
        padding-top: 200px;
        padding-left: 20%;
        padding-right: 10%;
        font-family: Snell Roundhand, cursive;
    }
    .TodosProjetos{
        display:list-item; 
        width: 100%;
        height: auto;dding-bottom: 50px;
    }
    /* <!-- Inicio do Primeiro projeto --> */
    .Projeto1{
     display: list-item;
    }
    .imgProjetos{
        display: block;
        /* position: absolute; */
        padding-top: 200px;
        padding-left: 15%;
        padding-right: 0%;
    }
    .imgProjetos img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    .sobreProjeto{     
        display: block;
        /* position: absolute; */
        padding-top: 5%;
        padding-left: -100px;
        padding-right: 0%;
        font-family: cursive;
        
    }
    .sobreProjeto p span{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-left: 20%;
        padding-right: 30%;
        color: white;
        font-size: 25px;
        font-family: cursive;
    }
    .sobreProjeto h3{
        color: #9c9fe9;
        padding-bottom: 15px;
        padding-left: 90px;
        font-family: Noto Sans, sans-serif;
    }
    .sobreProjeto h2{
        color: white; 
        padding-left: 90px;
        padding-bottom: 30px;
    }
    /* Fim do Primeiro projeto */
    
    /* <!-- Inicio do Segundo projeto --> */
    .Projeto2{
        display: list-item;
    }
    .imgProjetos2{
        display: block;
        /* position: absolute; */
        padding-top: 2%;
        padding-left: 15%;
        padding-right: 0%;
    }
    .imgProjetos2 img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    .sobreProjeto2{     
        display: block;
        /* position: absolute; */
        padding-top: 50%;
        padding-left: 00px;
        padding-right: 0%;
        font-family: cursive;
    }
    .sobreProjeto2 p span{
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-left: 20%;
        padding-right: 30%;
        color: white;
        font-size: 25px;
        font-family: cursive;
    }
    .sobreProjeto2 h3{
        color: #9c9fe9;
        padding-bottom: 2%;
        padding-left: 90px;
        font-family: Noto Sans, sans-serif;
    }
    .sobreProjeto2 h2{
        color: white; 
        padding-left: 90px;
        padding-bottom: 10%;    
    }
    /* <!-- Fim do Segundo projeto --> */
    .footer{
        display: flex;
        flex-direction: wrap;
        flex-wrap: wrap;
        height: 40vh;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), black;
        background-size: cover;
        background-position: center;
        ;
    }
    .footer p{
        display: flex;
        flex-direction: row;
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 10pt;
        font-family: Bradley Hand, cursive;
        color: white;
    }
    .btnfooter{
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 0%;
        
    }
    .redesSociais{
        padding-top: 0px;
        padding-left: 20%;
        padding-right: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
    }
    .GitHub{
        margin-right: 10px;
    }
    .Instagram{
        margin-right: 10px;
    }
    .GitHub img{
        height: 25px;
        width: auto;
    }
    
    .redesSociais .Instagram img{
        height: 25px;
        width: auto;   
    }
    .Facebook img{
        height: 25px;
        width: auto;
    }
    .whatsapp-link{
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 30px;
        background-color: #25d366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 1px 1px 2px #888;
        z-index: 11000;
    }
    .fa-whatsapp{
        margin-top: 16px;
    }
    /* Fim da pagina Home */

    /* Inicio da pagina projetos */
    .txtProjeto{
        color: white;
        margin-left:20%;
        margin-top: 5%;
        font-family: Noto Sans, sans-serif
    }
    .todosprojetos{
        align-items: center;
        width: 80%;
        height: auto;
        padding-bottom: 50px;
    }
    .projetos{
        background-color: #111;
    }
    .Projeto{
        flex-direction: row;
    }
    .imgprojetos{
        display: block;
        /* position: absolute; */
        padding-top: 200px;
        padding-left: 15%;
        padding-right: 0%;
    }
    .imgprojetos img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    .sobreprojeto{
        color: #fff;     
        display: block;
        /* position: absolute; */
        padding-top: 3%;
        padding-left:15%;
        padding-right: 0%;
        font-family: cursive;
    }
    .sobreprojeto h3{
        color: #9c9fe9;
        padding-bottom: 15px;
        font-family: Noto Sans, sans-serif;
    }
    .sobreprojeto h2{
        color: #fff;
        font-size: 30px;
        padding-bottom: 15px;
        font-family: Noto Sans, sans-serif;
    }
    
    .projeto2{
    }
    .imgprojetos2 img{
        height: 300px;
        width: 150px;
        border-radius: 10px;
    }
    .imgprojetos2{
        display: block;
        /* position: absolute; */
        padding-top: 200px;
        padding-left: 0%;
        padding-right: 0%;
    }
    .sobreprojeto2{  
        color: #fff;     
        /* position: absolute; */
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0%;
        font-family: cursive;
    }
    .sobreprojeto2 h3{
        color: #9c9fe9;
        padding-bottom: 15px;
        font-family: Noto Sans, sans-serif;
    }
    .sobreprojeto2 h2{
        color: #fff;
        font-size: 30px;
        padding-bottom: 15px;
        font-family: Noto Sans, sans-serif;
    }
    .sobre2{     
        display: block;
        /* position: absolute; */
        padding-top: 350px;
        padding-left: 220px;
        padding-right: 0%;
        
    }
    .sobre2 h2{
        color: white; 
        padding-left: 170px;
        padding-bottom: 30px;
        font-family: cursive;
    }
    .sobre2 p span{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-right: 10%;
        color: white;
        font-size: 23px;
        font-family: cursive;
    }
    .imgSobre2{
        display: block;
        /* position: absolute; */
        padding-top: 200px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .imgSobre2 img{
        height: 550px;
        width: 550px;
        border-radius: 10px;
    }
    .video{
        display: none;
    }
    .video2{
        display: none;
    }
    /* Fim da pagina Projeto */

    /* Incio da Pagina Serviços */

    .txtServico{
        margin-left:8%;
        font-size:33pt;
        color:white;
        margin-top:10%;
        padding: 10px;  
        font-family:Optima, sans-serif
    }
    .txtSobreServico{
        color:white;
        margin-left:15%;
        flex-wrap: wrap;
        width:70%;  
        font-family: Optima, sans-serif;
        font-size: 12pt;
    }
    .site{
        margin-left:5%;
        margin-top:40%;
        height:7%;
        width:90%;
        border-style:solid;
        border-color:blueviolet;
        border-radius:10px;
        font-family: Optima, sans-serif;
    }
    .site:hover{
        border-style: solid;
        border-color: white;
        transition: .3s;
    }
    .svSite{
        color:blueviolet;font-size:20pt;margin-left:35%;margin-top:2%;
    }
    .svSite:hover{
        color:white;
        transition: .3s;
    }
    .app{
        margin-left:5%;
        margin-top:5%;
        height:7%;
        width:90%;
        border-style:solid;
        border-color:blueviolet;
        border-radius:10px;
        font-family: Optima, sans-serif;
    }
    .app:hover{
        border-style: solid;
        border-color: white;
        transition: .3s;
    }
    /* Fim da pagina Serviços */

    /* Inicio da Pagina Sobre */
    .sobre2{     
        display: block;
        /* position: absolute; */
        padding-top: 15%;
        padding-left: 10%;
        padding-right: 0%;
        
    }
    .sobre2 h1{
        color: white; 
        padding-left: 10;
        padding-bottom: 30px;
        font-family: cursive;
        font-size: 34pt;
    }
    .sobre2 p span{
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-right: 10%;
        color: white;
        font-size: 23px;
        font-family: cursive;
    }
    .imgSobre2{
        display: block;
        /* position: absolute; */
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .imgSobre2 img{
        height: 300px;
        width: 300px;
        border-radius: 10px;
    }
    /* Fim da Pagina Sobre */
}